@model Association;

<h1>@ViewBag.product.Name</h1>

<h2>Categories</h2>
@foreach (var item in ViewBag.product.CAssociations)
{
    <p>@item.CatWPro.Name</p>
}

<form action="/addcategory-p" method="post">
<input type="hidden" asp-for="ProductId" value="@ViewBag.product.ProductId">
<select name="CategoryId">
    @foreach (var item in ViewBag.OtherCategories)
    {
        <option value="@item.CategoryId">@item.Name</option>
    }
</select>
<input type="submit">
</form>