@model Association;

<h1>@ViewBag.category.Name</h1>

<h2>Products</h2>
@foreach (var item in ViewBag.category.Associations)
{
    <p>@item.ProWCat.Name</p>
}

<form action="/addproduct-c" method="post">
<input type="hidden" asp-for="CategoryId" value="@ViewBag.category.CategoryId">
<select name="ProductId">
    @foreach (var item in ViewBag.OtherProducts)
    {
        <option value="@item.ProductId">@item.Name</option>
    }
</select>
<input type="submit">
</form>