<a href="/">Home</a>

<h1>@ViewBag.Adish.Name</h1>
<h2>@ViewBag.Adish.Chef</h2>

<p>@ViewBag.Adish.Description</p>
<p>Calories: @ViewBag.Adish.Calories</p>
<p>Tastiness: @ViewBag.Adish.Tastiness</p>

<a href="/delete/@ViewBag.Adish.DishId">Delete</a>
<a href="/edit/@ViewBag.Adish.DishId">Edit</a>